# HTML Deployment to Azure App Service (staging2 slot)

name: Deploy HTML site to Azure Web App - app-hananali-staging2

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      # Upload HTML files as artifact
      - name: Upload artifact for deployment
        uses: actions/upload-artifact@v4
        with:
          name: html-app
          path: .

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: html-app

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_933818EA55794035B7A4FC76AA5AD3F1 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_4AF2DDA26EA9474490B765845EAACBFD }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_400C17905F344115B1927F5C8D32D7BD }}

      - name: Deploy to Azure Web App (staging2)
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'app-hananali'
          slot-name: 'staging2'
          package: .
